.about_section {
    margin: 3em 0em 3em 5em;
    padding: 0 8em 0 0;
}

.about {
    font-family: "source code pro";
    width: 80%;
    font-size: 1.25em;
    margin: 7em 0 5em 0;
}

.bolder {
    color: #000;
    font-weight: 700;
}

.likes_title {
    font-family: 'jenson';
    font-size: 3.5em;
    margin-bottom: 0;
}

.likes_list {
    margin: 2em 0 5em 0;
}

.likes_col {
    margin-bottom: 10px;
    text-align: center;
}

.likes, 
.special {
    font-family: "sudbury";
    font-size: 2em;
    position: relative;
    line-height: 1.25em;
    cursor: default;
    padding: 0.5em;
    text-align: center;
}

.special {
    font-family: "sudbury-b";
    cursor: pointer;
}

.special:hover {
    color: rgb(158, 184, 255);
}

.likes img {
    display: none;
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: auto;
}

.likes:hover img {
    display: block;
    width: 150px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .about_section {
        margin: 2em 2em 10% 4em;
        padding: 0 5em 0 0;
    }
    .about {
        width: 80%;
    }
}

@media (max-width: 500px) {
    .about_section {
        margin: 5em 2em 10% 2em;
        padding: 0 1em 0 0;
    }

    .about {
        width: 100%;
    }
}
