@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@font-face {
    font-family: canela;
    src: url(./Canela_Collection/Canela_Family/Canela-Regular.otf);
  }

  @font-face {
    font-family: canela deck;
    src: url(./Canela_Collection/Canela_Deck/CanelaDeck-Regular.otf);
  }


.font {
    font-family: 'canela deck';
    font-size: 3em;
}

.font_size_2 {
    font-family: 'canela deck';
    font-size: 2.5em;
    /* font-style: italic; */
}

.likes {
    font-family: "calibre";
}

.content {
    position: relative;
    /* display: flex;  */
    z-index: 1;
    width: 100%;
    height: 10vh;
    padding: 5em;
}