.intro {
    margin: 3em 0 0 0;
}

.content p {
    word-spacing: 0.1em;   
}

.name {
    font-family: 'sudbury-b';
    font-size: 10em;
    padding: 0em 0em 0 0.1em; 
    line-height: 0.4em;
}

.desc {
    font-family: 'jenson italic';
    font-size: 3em;
    padding: 0em;
}

.font {
    font-family: "jenson";
    font-size: 4em;
    font-weight: 500;
}

.norm {
    font-family: 'jenson';
}

.sent {
    font-family: 'sudbury';
    margin: 2em 0 0 0.25em;
    font-size: 1.25em;
}

.bolder {
    font-weight: 700;
}

@media (max-width: 1092px) {
    .name {
        font-size: 10em;
        line-height: 0.7em;
    }
}

@media (max-width: 730px) {
    .name {
        font-size: 8em;

    }
}

@media (max-width: 455px) {
    .name {
        font-size: 9em;
        line-height: 0.55em;

    }
}

@media (max-width: 392px) {
    .name {
        font-size: 7em;
    }
}