.header {
    font-family: "jenson";
    font-size: 5em;
}

.proj_title {
    font-family: "sudbury-b";
    font-size: 2.5em;
    margin: 0em 0.8em;
    display: inline;
    color: rgb(0,0,0);
    cursor: pointer;
    transition: color 0.3s ease;
}

.active {
    color: rgb(158, 184, 255);
}

