@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');


@font-face {
    font-family: jenson italic;
    src: url(../assets/jenson/JensonItalic.ttf);
}

@font-face {
    font-family: jenson;
    src: url(../assets/jenson/Jenson.ttf);
}

@font-face {
    font-family: sudbury;
    src: url(../assets/sudbury/SudburyBook-ayqJ.ttf);
}

@font-face {
    font-family: sudbury-b;
    src: url(../assets/sudbury/SudburyBookItalic-OEpo.ttf);
}


