html, body, #root, .app-container {
    /* background-color: rgb(252, 247, 252); */
    /* background-color: rgb(255, 214, 228); */
    background-color: rgb(255, 230, 249);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: -1;
}

.nav {
    z-index: 1; 
    margin: 0em 0em;
    height: 5em;
    display: flex;
}

.about {
    margin: 3em 3em;
}


.projs {
    margin: 3em 3em;
}


@media (max-width: 768px) {
    nav {
        padding: 0.5rem;
    }

    .footer {
        padding: 0.5rem;
    }

    .nav-link {
        margin: 0.5em;
    }
}

@media (max-width: 480px) {
    .nav-link {
        margin: 1em 0.5em;
    }

    nav {
        padding: 0.3rem;
    }

    .footer {
        padding: 0.3rem;
    }

    .sketch {
        padding: 0;
        width: 20%;
    }

}
