html, body, #root, .app-container {
    /* background-color: rgb(252, 247, 252); */
    /* background-color: rgb(255, 214, 228); */
    background-color: rgb(255, 230, 249);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: -1;
}

.nav {
    z-index: 1; 
    margin: 0em 0em;
    height: 5em;
    display: flex;
    position: sticky;
}

.home_body {
    padding: 3em 5% 2em 10%;
}

.folio {
    margin: 5em 0 10em 0;
}


.home_intro {
     padding: 0 0 10em 0;
} 

/*
.projs {
    margin: 3em 8em;
    padding: 2em;
}

@media (max-width: 900px) {
    .about, .projs {
        margin: 1em 5em;
        padding: 0 0 13em 0;
    }

}

@media (max-width: 630px) {
    .about, .projs {
        margin: 1em 0em 0 1em;
        padding: 0 0 13em 0;
    }
}

@media (max-width: 768px) {
    nav {
        padding: 0.5rem;
    }

    .footer {
        padding: 0.5rem;
    }

    .nav-link {
        margin: 0.5em;
    }
}

@media (max-width: 480px) {
    .nav-link {
        margin: 1em 0.5em;
    }

    nav {
        padding: 0.3rem;
    }

    .footer {
        padding: 0.3rem;
    }

    .sketch {
        padding: 0;
        width: 20%;
    }

} */
