.container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 100%;
}

.topRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.photo {
    width: 35%;
    max-width: 100%;
    margin: 0 2em;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    font-family: 'Source Code Pro';
}

.techStack {
    font-family: 'jenson';
    font-size: 2.5em;
}


.leftDiv, .rightDiv {
    flex: 1;
    min-width: 250px;
    padding: 3em;
}

.rightDiv {
    display: flex;
    justify-content: center; 
    align-items: center;   
    height: 100%;           
}

.rightDiv > div {
    text-align: left;     
}

.description {
    margin-top: 20px;
}

@media (max-width: 720px) {
    .bottomRow {
        display: grid;
    }

    .leftDiv, .rightDiv {
        padding: 1em;
        min-width: 100%; 
    }

    .photo {
        width: 100%;
        max-width: 100%;
        margin: 0 2em;
    }
}
